{% extends "base.html" %}
{% block content %}
<h1>To do -list</h1>

<a href="{{base_path}}/task/new" class=".button">Add new task!</a>

<table class="table">
    <thead>
        <tr>
            <th>Task</th>
            <th>Deadline</th>
            <th>Status</th>
            <th>Priority</th>
            <th>Category</th>
            <th>Added</th>
            <th></th>
        </tr>
    </thead>


    <tbody>
        {% for task in tasks %}
        <tr>
            <td><a href="{{base_path}}/task/{{task.id}}">{{task.name}}</td>
            <td>{{task.deadline}}</td>
            <td>{{task.status_id}}</td>
            <td>{{task.priority_id}}</td>
            <td>
                {% if task.done %}
                <label class="btn-lg-success">Done
                    {% else %}
                    <label class="btn-lg-info">In progress
                        {% endif %}
                        </td>
                        <td>{{task.added}}</td>
                        
                        <td><a class=".button" href="{{base_path}}/task/{{task.id}}/edit">Edit</a></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                        </table>
                        {% endblock %}