{% extends "base.html" %}
{% block content %}
<h1>To do -list</h1>

<a href="{{base_path}}/task/new" class="button">Add new task!</a>

  <form method="get" action="" class="form-inline">
    <div class="form group">
      <input type="text" name="search" class="form-control" placeholder="Search for...">
    </div>

    <button type="submit" >Search!</button>
  </form>

<br>

<table class="table">
    <thead>
        <tr>
            <th>Task</th>
            <th>Deadline</th>
            <th>Status</th>
            <th>Priority</th>
            <th>Added</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for task in tasks %}
        <tr>
            <td><a href="{{base_path}}/task/{{task.id}}">{{task.taskname}}</td>
            <td>{{task.deadline}}</td>
            <td>{{task.status_id}}</td>
            <td>{{task.priority_id}}</td>
            <td>{{task.added}}</td>

            <td><a class="button" href="{{base_path}}/task/{{task.id}}/edit">Edit</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}