{% extends "base.html" %}
{% block content %}

{% if user_logged_in %}
<h1> {{user_logged_in.username}}'s Todo list</h1>
{% endif %}

<br>

<br><a href="{{base_path}}/task/new" class="button">Add new task!</a><br>
<br>

<br>

<table class="table">
    <thead>
        <tr>
            <th>Task</th>
            <th>Deadline</th>
            <th>Status</th>
            <th>Priority</th>
            <th>Added</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for task in tasks %}
        <tr>
            <td><a href="{{base_path}}/task/{{task.id}}">{{task.taskname}}</td>
            <td>{{task.deadline}}</td>
            
            
            
            <td>{% if task.status_id == 1 %}
                <label class="label label-danger">Task not started!</label>
                {% endif %}
                {% if task.status_id == 2 %}
                <label class="label label-warning">Task in progress!</label>
                {% endif %}
                {% if task.status_id == 3 %}
                <label class="label label-success">Task Completed!</label>
                {% endif %}
            </td>
            
            <td>
                {% if task.priority_id == 1 %}
                <label class="label label-success">Low</label>
                {% endif %}
                {% if task.priority_id == 2 %}
                <label class="label label-warning">Medium</label>
                {% endif %}
                {% if task.priority_id == 3 %}
                <label class="label label-danger">High</label>
                {% endif %}
            </td>
            <td>{{task.added}}</td>

            <td><a class="button" href="{{base_path}}/task/{{task.id}}/edit">Edit</a></td>
            <td><a class="button" href="{{base_path}}/task/{{task.id}}/delete" class="destroy-form" data-confirm="Sure you want to remove a task?">Delete</a></td>

            </form>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}