{% extends "base.html" %}
{% block content %}
<h1>Add new task</h1>

<form method="post" action="{{base_path}}/task">
    <div class="form-group">
        <label>Task</label>
        <input class="input" value="" type="text" placeholder="TASK">

        <label>Additional info</label>
        <textarea class="input" placeholder="ADDITIONAL INFO"></textarea>

        <label>Deadline</label>
        <input class="input" value="" type="text">

        <label>Priority</label>
        <select name="priority">
            <option value="high">HIGH</option>
            <option value="medium">MEDIUM</option>
            <option value="low">LOW</option>
        </select>
    </div>
        <label>Status</label> <br>
        <label><input type="radio" name="status" value="notdone"/>Not Started</label>
        <label><input type="radio" name="status" value="started"/>In Progress</label>
        <label><input type="radio" name="status" value="done"/>Completed</label>
        <br>
        <br>
    <div class="form-group">
        <button class="button" type="submit" >Save</button>
    </div>
</form>
{% endblock %}
