{% extends "base.html" %}
{% block content %}
<h1>Add new task</h1>

<form method="post" action="{{base_path}}/task">
    <div class="form-group">
        <label>Task</label>
        <input class="input" name="name" value="" type="text" placeholder="TASK">

        <label>Additional info</label>
        <textarea class="input" name="description" placeholder="ADDITIONAL INFO"></textarea>

        <label>Deadline</label>
        <input class="input" name="deadline" value="" type="text">
    </div>
    <label>Priority</label>
    <select class="form-control" name="priority_id">
        <option title="high" name="priority_id" value="1" id="1">HIGH</option>
        <option title="medium" name="priority_id" value="2" id="2">MEDIUM</option>
        <option title="low" name="priority_id" value="3" id="3">LOW</option>
    </select>

    <label>Status</label> <br>
    <label><input type="radio" name="status_id" value="1"/>Not Started</label>
    <label><input type="radio" name="status_id" value="2"/>In Progress</label>
    <label><input type="radio" name="status_id" value="3"/>Completed</label>
    <br>
    <br>
    <div class="form-group">
        <button class="button" type="submit" >Save</button>
    </div>
</form>
{% endblock %}
