{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

<h1>{{task.name}}</h1>
<p>
    {{forms.destroy_button("#{base_path}/task/#{task.id}/destroy")}}
    <a href="{{base_path}}/task/{{task.id}}/edit" class="btn btn-default">Edit task!</a>
</p>

<ul>
    <li><strong>Deadline:</strong> {{task.deadline}}</li>
    <li><strong>Priority:</strong> {{task.priority_v}}</li>
    <li><strong>Status:</strong> {{task.status}}</li>
    <li><strong>Added:</strong> {{task.added}}</li>
</ul>

<p>
    {{task.description}}
</p>
{% endblock %}
