@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');

#main-container{
    max-width: 1200px;
    padding: 10px 25px;
    margin: 0px auto;
}

.navbar .container-fluid{
    max-width: 1200px;
    margin: 0px auto;
}

body, tbody {
    background: #686868;
    color: #F6F5EC;
    text-align: center;
    margin: auto;
}

form {
    position: relative;
    display: block;
    margin: 0 auto 100px;
    padding: 80px;
    background: #595959;
    z-index: 1;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

input, textarea, select {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #F6F5EC;
    color: #595959;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    display: block;
    height: 44px;
    text-align: center;
}

textarea {
    height: 64px;
}

select {
    height: 54px;
}

input[type=radio],
input.radio {
    float: left;
    margin: 2px 0 0 2px;
}

button, .button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #F6E767;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #3E4E50;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    transition: all ease;
    cursor: pointer;
}

button:hover,.form button:active,.form button:focus {
    background: #F8ED8F;
}

h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 122px;
    color: #ffadc6;
    text-align: center;
    padding-bottom: 50px;
}

tbody tr:hover  {
    background-color: #ffadc6;
}

a.button{
    color: #F6F5EC;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding: 20px;
    
}

